In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# import data
filepath = os.sep.join(['data'] + ['housing.csv'])
data = pd.read_csv(filepath, sep=',')

print(data.shape)
print(data.dtypes.value_counts())
print(data.head())

(20640, 10)
float64    9
object     1
dtype: int64
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

# Data Cleaning

In [9]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
# https://www.kaggle.com/code/davidhjek/california-dreaming-and-housing
# 1. Why Label Encoding instead of OneHotEncoder
cat_encoder = OneHotEncoder()
data = data.dropna()
data_oneHotEncoded = data.copy()

In [11]:
cat_col = 'ocean_proximity'
new_cat_data = cat_encoder.fit_transform(data_oneHotEncoded[[cat_col]]).astype(int)
new_cat_data

<20433x5 sparse matrix of type '<class 'numpy.int32'>'
	with 20433 stored elements in Compressed Sparse Row format>

In [12]:
data_oneHotEncoded = data_oneHotEncoded.drop(cat_col, axis=1)

In [13]:
cats = cat_encoder.categories_
new_cols = ['_'.join([cat_col, cat]) for cat in cats[0]]
new_df = pd.DataFrame(new_cat_data.toarray(),
                        index=data_oneHotEncoded.index,
                        columns=new_cols)
# new_df
data_oneHotEncoded = pd.concat([data_oneHotEncoded, new_df], axis=1)

In [14]:
data_oneHotEncoded

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0